/* Typography */

// Font Family
$old-standard-tt: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

// Font Weight
$r-regular: 400;
$r-bold: 700;

// Font Size
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

