.home-footer{
    background-color: $smoky-black;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    
    &__newsletter{
        color: $white;
        display: block;
        position: relative;
        padding: 1.3rem 2.6rem;
    }
    
    h2{
        color: $isabelline;
        font-size: $x-large;
        margin-bottom: .8rem;
    }
    
    p{
        font-size: $small;
        font-family: $old-standard-tt;
        color: $light-gray;
        font-weight: $r-regular;
        margin-bottom: .6rem;
    }
    
    #email{
        width: 90%;
        height: 1.6rem;
        font-size: $small;
        color: $granite-gray;
    }
    
    &__suscribe{
        background-color: $white;
        color: $smoky-black;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding: 2rem .6rem;
        height: 100%;
        box-sizing: border-box;
        right: 1.2rem;
        width: auto;
        font-family: $old-standard-tt;
        font-weight: $r-bold;
    }
}
@media (min-width: $breakpoint-tablet){
    .home-footer{
        bottom: 0;
        position: absolute;
        
        &__newsletter{
            padding: 2rem 5rem 4rem 5rem;
        }
        
        &__suscribe{
            padding: 4.2rem 1rem;
            right: 2rem;
            font-size: $large;
        }
        
        h2{
            font-size: $xx-large;
        }
        
        p{
            font-size: $medium;
        }
    }

}
@media (min-width: $breakpoint-desktop){
    .home-footer{
        width: 40vw;
    }    
}